/************************************************
*************************************************
2. Component Styles -----------------
3. Media Queries --------------------
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
2. Component Styles
------------------------------------------------
----------------------------------------------*/

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.hero-section__image {
	width: 70%;
	max-width: 300px;
	height: auto;
	margin-bottom: 1rem;
}


.hero-section_headings-container {
	margin-bottom: 1rem;
}

.emoji-waving-hand {
	width: 24px;
	height: 24spx;
	margin-right: 1rem;
}

.hero-section__heading {
	font-size: 2rem;
}

.hero-section__subheading {
	font-size: 1rem;
	color: var(--my-yellow);

}

.hero-section__paragraph {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.hero-section__badges-sets-wrapper {}

.hero-section__badge {
	width: 1.75rem;
	height: 1.75rem;
	margin: 0.25rem;
}

.benefits-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.benefits-section__card {
	width: 80%;
	max-width: 320px;
	text-align: left;
	margin-bottom: 4rem;
}

.benefits-section__image {
	width: 100%;
	max-width: 320px;
	margin-bottom: 1rem;
}

.benefits-section__heading {
	font-size: 1.5rem;
	margin-bottom: 0.75rem;
}

.benefits-section__paragraph {
	font-size: 1rem;
}

.benefits-section__card p:not(:last-child) {
	margin-bottom: 1rem;
}

.call-to-action {
	text-align: center;
}

.call-to-action__button {
	width: 7.5rem;
	height: 2rem;
	border: 0px;
	font-family: Horizon;
	font-size: 0.75rem;
	color: var(--my-black);
	background-color: var(--my-yellow);
	margin-bottom: 4rem;
}

/*----------------------------------------------
------------------------------------------------
3. Media Queries
------------------------------------------------
----------------------------------------------*/


/* <259px ---- Very small devices */
/*
@media (max-width: 259px) {
	.hero-section__image {
		width: 80%;
	}

	.hero-section__heading {
		font-size: clamp(1.25rem, 0rem + 5.6437vw, 2rem);
	}

	.hero-section__subheading {
		font-size: clamp(0.875rem, 0rem + 5.6437vw, 2rem);
		color: var(--my-yellow);
	}

	.hero-section__badge {
		width: 1.25rem;
		height: 1.25rem;
		padding: 0.1rem;
	}

	.benefits-section__heading {
		font-size: clamp(0.875rem, 0rem + 5.6437vw, 1rem);
	}

	.benefits-section__paragraph {
		font-size: clamp(0.875rem, 0rem + 5.6437vw, 1rem);
	}

	.benefits-section__card {
		width: 90%;
		max-width: 300px;
		text-align: left;
		margin-bottom: 4rem;
	}

	.benefits-section__image {
		margin-bottom: 1rem;
	}
}
*/

/* ≥568px ---- Phones in landscape mode, smaller tablets) */
@media screen and (min-width: 35.5em) {

	.hero-section__heading {
		font-size: 3rem;
	}

	.hero-section__subheading {
		font-size: 1.5rem;
	}

	.hero-section__paragraph {
		margin-top: 24px;
		font-size: 1rem;
	}

	.hero-section__badge {
		width: 2rem;
		height: 2rem;
		margin: 0.5rem;
	}

	.benefits-section__card {
		display: flex;
		flex-direction: row;
		/* Change flex direction to row */
		align-items: center;
		/* Center items vertically */
		flex-wrap: wrap;

		min-width: 408px;
		max-width: 450px;
		text-align: left;
		margin-bottom: 4rem;
	}

	.benefits-section__image {
		width: 240px;
		margin: 0px;
		display: flex;
		justify-content: flex-end;
		align-items: end;
		order: 3;
		margin-left: auto;
	}

	.emoji-waving-hand {
		width: 28px;
		height: 28px;
		margin-right: 1.5rem;
	}

	.benefits-section__heading {
		display: flex;
		order: 0;
	}

	.benefits-section__paragraph {
		display: flex;
		order: 5555;
		margin-top: 1rem;
		line-height: 1.5;
	}

	/* Change alignment of even-numbered cards */
	.benefits-section__card--even {
		.benefits-section__image {
			margin: 0px;
			order: -2;
			margin-right: auto;
		}
	}

	.benefits-section__card p:not(:last-child) {
		margin-bottom: 0rem;
	}

	.call-to-action__button {
		margin-top: 1rem;
	}

	.hero-section__badges-sets-wrapper {
		margin-top: 8px;
		display: flex;
	}

	.hero-section__badge {
		width: 30px;
		height: 30px;
		margin: 0;
		margin-right: 12px;
	}

}

/* ≥768px ---- Larger tablets and smaller desktop screens */
@media screen and (min-width: 48rem) {

	.hero-section {
		margin-top: 40px;
		flex-direction: row;
	}

	.hero-section_headings-container {
		text-align: left;
	}

	.hero-section__subheading {
		font-size: 1.5rem;
	}

	.hero-section__paragraph {
		margin-top: 32px;
		font-size: 12px;
		text-align: left;
	}

	.hero-section__image {
		order: 2;
		max-width: none;
		width: 220px;
		margin-left: 48px;
	}

	.hero-section__badges-sets-wrapper {
		text-align: left;
		display: contents;
	}

	.hero-section__badge {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		margin-bottom: 5px;
	}

	.benefits-section{
		margin-left: 24px;
    	margin-right: 24px;
	}

	.benefits-section__heading {
		font-size: 3rem;
	}

	.benefits-section__card {
		min-width: none;
		max-width: none;
		margin-bottom: 48px;
		display: block;
		width: 640px;
	}

	.benefits-section__image {
		margin-left: 0px;
		margin-bottom: 24px;
		width: 192px;
	}

	.benefits-section__paragraph {
		font-size: 1rem;
	}

	.emoji-waving-hand {
		width: 24px;
		height: 24px;
		margin-right: 16px;
	}

	.benefits-section__heading {
		font-size: 24px;
		margin-bottom: 24px;
	}

	.benefits-section__paragraph {
		font-size: 12px;
		margin-top: 12px;
	}

	/* Change alignment of even-numbered cards */
	.benefits-section__card--even {
		.benefits-section__image {
			margin-right: 0px;
			margin-left: auto;
			margin-bottom: 24px;
		}

		.benefits-section__heading {
			text-align: right;
			justify-content: end;
		}

		.benefits-section__paragraph {
			text-align: right;
		}
	}

}

/* ≥1024px --- Standard desktop and laptop screens */
@media screen and (min-width: 64rem) {}

/* 	≥1280px --- Larger desktop screens and some high-resolution laptops */
@media screen and (min-width: 80rem) {}

/* ≥1920px --- Larger desktop screens and high-resolution monitors */
@media screen and (min-width: 120rem) {

	.hero-section__heading {
		font-size: 88px;
	}

	.hero-section__subheading {
		font-size: 48px;
	}

	.hero-section__paragraph {
		font-size: 16px;
	}

	.hero-section__badge {
		width: 40px;
		height: 40px;
		margin-right: 12px;
		margin-bottom: 12px;
	}

	.hero-section__image {
		max-width: none;
		width: 456px;
		height: auto;
	}

}

/* ≥2560px --- Ultra-high-definition monitors and large displays */
@media screen and (min-width: 160rem) {}

/* ≥3840px --- Ultra-high-definition monitors and large displays */
@media screen and (min-width: 240rem) {}