/*----------------------------------------------
------------------------------------------------
1. Navbar
------------------------------------------------
----------------------------------------------*/

/* Define transition duration for
navbar links hover effect (includes font size and color change) 
mobile hamburger menu (smoothly appears from the right) */
:root {
    --transition-duration: 1.05s;
}

.navbar {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
    position: sticky;
    top: 0;
    background-color: #111111;
    z-index: 100;
}

.navbar__logo {
    font-family: Horizon;
    font-size: 16px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: var(--transition-duration) ease-in-out;
}

.navbar__links {
    font-family: Horizon;
    color: white;
    padding-top: 128px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -260px;
    background-color: #111111;
    z-index: 9999;
    border-left: 0.5px solid gray;
    padding-right: 40px;
    padding-left: 24px;
    transition: var(--transition-duration) ease;
    font-size: 16px;
    width: 160px;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.navbar__hamburger {
    /* REMOVES THE STYLING OF THE <button> */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
}

.navbar__hamburger-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 16px;
    margin-top: 16px;
    font-size: 16px;
    color: white;
}

/* this class is required by "navbar.js" */
.navbar .move-left {
    right: 0px;
}

@media only screen and (min-width: 1024px) {

    .navbar {
        padding: 24px;
    }

    /* Hide hamburger */
    .navbar__hamburger {
        display: none;
    }

    /* Hide hamburger close button */
    .navbar__hamburger-close {
        display: none;
    }

    .navbar__links {
        /* Converts mobile-styled hamburger links to regular navbar links for desktop */
        height: auto;
        position: static;
        right: auto;
        flex-direction: row;
        row-gap: 0;
        border-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        transition: none;
        width: auto;

        display: flex;
        /* Adjust the spacing between links */
        column-gap: 64px;
    }

    .navbar__links a:hover {
        font-size: 17px;
    }

    .navbar__link-web-projects:hover {
        color: #edc34b;
    }

    .navbar__link-know-me:hover {
        color: #e04a36;
    }

    .navbar__link-contact-me:hover {
        color: #97cafd;
    }

}