/*************************************************
**************************************************

Website Details:
    - Name: 9nikolov
    - URL: 9nikolov.com

Author:
    - Name: Nikola Nikolov
    - Personal Website: 9nikolov.com
    - Social Media:
        - Twitter:   twitter.com/9nikolov
        - LinkedIn:  linkedin.com/in/9nikolov
        - Instagram: instagram.com/9nikolov
        - Facebook:  facebook.com/9nikolov
    - GitHub: github.com/9nikolov

Copyright 2024. All Rights Reserved.

*************************************************
************************************************/

/************************************************
*************************************************
1. CSS Reset ------------------------ 
2. Global Styles --------------------
3. Component Styles ----------------- 
4. Media Queries --------------------
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
1. CSS Reset
------------------------------------------------
----------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------
------------------------------------------------
2. Global Styles
------------------------------------------------
----------------------------------------------*/

:root {
	--base-font-size: 16px;
	--my-yellow: #FFC600;
	--my-black: #111111;
}

html {
	font-size: var(--base-font-size);
}
  
body{
	background-color: var(--my-black);
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6{
	font-family: Horizon;
}

p{
	font-family: Arial;
}

/*----------------------------------------------
------------------------------------------------
3. Component Styles
------------------------------------------------
----------------------------------------------*/

.hero-section{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-section__image{
	width: 308px;
	height: 371px;
	margin-bottom: 2em;
}


.hero-section__heading{
	font-size: 32px;
}

.hero-section__subheading{
	font-size: 16px;
	color: var(--my-yellow);
}

.hero-section__paragraph{
	font-weight: bold;
	font-size: 12px;
}

.hero-section__badge-generic{
	width: 28px;
	height: 28px;
}

.hero-section__badge-java{
	width: 24px;
	height: 24px;
	padding: 2px;
	background-color: white;
	border-radius: 20%;
}

.hero-section__badge-mysql{
		width: 28px;
		height: 28px;
		background-color: white;
		border-radius: 20%;
}

.benefits-section__card{
	width: 212px;
	text-align: left;
}

.benefits-section__image{
	width: 212px;
}

.benefits-section__heading{
	font-size:24px;
}

.benefits-section__paragraph{
	font-size: 12px;
	width: 212px;
}

.call-to-action{
	border: 0px;
	width: 120px;
	height: 32px;
	background-color: var(--my-yellow);
	font-family: Horizon;
	color: var(--my-black);
	font-size: 12px;
}

/*----------------------------------------------
------------------------------------------------
4. Media Queries
------------------------------------------------
----------------------------------------------*/


/* ≥568px ---- Phones in landscape mode, smaller tablets) */
@media screen and (min-width: 35.5em){}

/* ≥768px ---- Larger tablets and smaller desktop screens */
@media screen and (min-width: 48em){}

/* ≥1024px --- Standard desktop and laptop screens */
@media screen and (min-width: 64em){}

/* 	≥1280px --- Larger desktop screens and some high-resolution laptops */
@media screen and (min-width: 80em){}

/* ≥1920px --- Larger desktop screens and high-resolution monitors */
@media screen and (min-width: 120em){}

/* ≥2560px --- Ultra-high-definition monitors and large displays */
@media screen and (min-width: 160em){}

/* ≥3840px --- Ultra-high-definition monitors and large displays */
@media screen and (min-width: 240em){}