/*************************************************
**************************************************

Website Details:
    - Name: 9nikolov
    - URL: 9nikolov.com

Author:
    - Name: Nikola Nikolov
    - Personal Website: 9nikolov.com
    - Social Media:
        - Twitter:   twitter.com/9nikolov
        - LinkedIn:  linkedin.com/in/9nikolov
        - Instagram: instagram.com/9nikolov
        - Facebook:  facebook.com/9nikolov
    - GitHub: github.com/9nikolov

Copyright 2024. All Rights Reserved.

*************************************************
************************************************/

/************************************************
*************************************************
1. CSS Reset ------------------------ 
2. Global Styles --------------------
3. Component Styles ----------------- 
4. Media Queries --------------------
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
1. CSS Reset
------------------------------------------------
----------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------
------------------------------------------------
2. Global Styles
------------------------------------------------
----------------------------------------------*/

@font-face { font-family: Horizon; src: url('fonts/horizon.otf'); }
@font-face { font-family: Horizon-Outlined; src: url('fonts/horizon_outlined.otf'); }

:root {
	--base-font-size: 16px;
	--my-yellow: #FFC600;
	--my-black: #111111;
}

html {
	font-size: var(--base-font-size);
}

body {
	background-color: var(--my-black);
	color: white;
}

p {
	font-family: Arial;
	line-height: 150%;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Horizon;
	line-height: 125%;
}

/*----------------------------------------------
------------------------------------------------
3. Component Styles
------------------------------------------------
----------------------------------------------*/

.hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.hero-section__image {
	width: 70%;
	max-width: 300px;
	height: auto;
	margin-bottom: 1rem;
}


.hero-section_headings-container {
	margin-bottom: 1rem;
}

.emoji-waving-hand {
	width: 24px;
	height: 24spx;
	margin-right: 1rem;
}

.hero-section__heading {
	font-size: 2rem;
}

.hero-section__subheading {
	font-size: 1rem;
	color: var(--my-yellow);

}

.hero-section__paragraph {
	font-weight: bold;
	font-size: 0.75rem;
	margin-bottom: 0.25rem;

}

.hero-section__badges-sets-wrapper {}

.hero-section__badge {
	width: 1.75rem;
	height: 1.75rem;
	padding: 0.25rem;
}

.benefits-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.benefits-section__card {
	width: 80%;
	max-width: 320px;
	text-align: left;
	margin-bottom: 4rem;
}

.benefits-section__image {
	width: 100%;
	max-width: 320px;
	margin-bottom: 1rem;
}

.benefits-section__heading {
	font-size: 1.5rem;
	margin-bottom: 0.75rem;
}

.benefits-section__paragraph {
	font-size: 1rem;
}

.benefits-section__card p:not(:last-child) {
	margin-bottom: 1rem;
}

.call-to-action {
	text-align: center;
}

.call-to-action__button {
	width: 7.5rem;
	height: 2rem;
	border: 0px;
	font-family: Horizon;
	font-size: 0.75rem;
	color: var(--my-black);
	background-color: var(--my-yellow);
	margin-bottom: 4rem;
}

/*----------------------------------------------
------------------------------------------------
4. Media Queries
------------------------------------------------
----------------------------------------------*/


/* <259px ---- Very small devices */
/*
@media (max-width: 259px) {
	.hero-section__image {
		width: 80%;
	}

	.hero-section__heading {
		font-size: clamp(1.25rem, 0rem + 5.6437vw, 2rem);
	}

	.hero-section__subheading {
		font-size: clamp(0.875rem, 0rem + 5.6437vw, 2rem);
		color: var(--my-yellow);
	}

	.hero-section__badge {
		width: 1.25rem;
		height: 1.25rem;
		padding: 0.1rem;
	}

	.benefits-section__heading {
		font-size: clamp(0.875rem, 0rem + 5.6437vw, 1rem);
	}

	.benefits-section__paragraph {
		font-size: clamp(0.875rem, 0rem + 5.6437vw, 1rem);
	}

	.benefits-section__card {
		width: 90%;
		max-width: 300px;
		text-align: left;
		margin-bottom: 4rem;
	}

	.benefits-section__image {
		margin-bottom: 1rem;
	}
}
*/

/* ≥568px ---- Phones in landscape mode, smaller tablets) */
@media screen and (min-width: 35.5em) {

	.hero-section__heading {
		font-size: 3rem;
	}

	.hero-section__subheading {
		font-size: 1.5rem;
	}

	.hero-section__paragraph {
		margin-top: 24px;
		font-size: 1rem;
	}

	.hero-section__badge {
		width: 2rem;
		height: 2rem;
		padding: 0.5rem;
	}

	.benefits-section__card {
		display: flex;
		flex-direction: row;
		/* Change flex direction to row */
		align-items: center;
		/* Center items vertically */
		flex-wrap: wrap;

		min-width: 408px;
		max-width: 450px;
		text-align: left;
		margin-bottom: 4rem;
	}

	.benefits-section__image {
		width: 240px;
		margin: 0px;
		display: flex;
		justify-content: flex-end;
		align-items: end;
		order: 3;
		margin-left: auto;
	}

	.emoji-waving-hand {
		width: 28px;
		height: 28px;
		margin-right: 1.5rem;
	}

	.benefits-section__heading {
		display: flex;
		order: 0;
	}

	.benefits-section__paragraph {
		display: flex;
		order: 5555;
		margin-top: 1rem;
		line-height: 1.5;
	}

	.benefits-section__card:nth-child(2) {
		.benefits-section__image {
			width: 212px;
			margin: 0px;
			display: flex;
			justify-content: flex-end;
			align-items: end;
			order: -2;
			margin-right: auto;
		}

		/* Add your styles for the second child here */
	}

	/* ... (existing styles) */

	.benefits-section__card p:not(:last-child) {
		margin-bottom: 0rem;
	}

	.call-to-action__button {
		margin-top: 1rem;
	}

	.hero-section__badges-sets-wrapper {
		margin-top: 8px;
		display: flex;
	}

	.hero-section__badge {
		width: 30px;
		height: 30px;
		padding: 0;
		padding-right: 12px;
	}

}

/* ≥768px ---- Larger tablets and smaller desktop screens */
@media screen and (min-width: 48rem) {

	.hero-section{
		flex-direction: row;
	}

	.hero-section_headings-container{
		text-align: left;
	}

	.hero-section__paragraph{
		text-align: left;
	}

	.hero-section__image{
		order: 2;
	}

	.hero-section__badges-sets-wrapper {
		margin-top: 8px;
		text-align: left;
		display: contents;
	}

	.benefits-section__card{
		display: block;
		width: 700px;
		max-width: none;
	}

	.benefits-section__image{
		display: inline-block;
		width: 288px;
		height: auto;
		margin-bottom: 1rem;
	}

	.benefits-section__heading{
		font-size: 2rem;
	}

	.benefits-section__paragraph{
		font-size: 1rem;
	}
	.benefits-section__card {
	min-width: none;
    max-width: none;
	}
	.benefits-section__card{
		width: none;
	}

	.benefits-section__card:nth-child(2) {
		.benefits-section__image {
			width: 288px;
		}

	.call-to-action__button {
		width: 200px;
		height: 40px;
		font-size: 1rem;
	}
}

/* ≥1024px --- Standard desktop and laptop screens */
@media screen and (min-width: 64rem) {}

/* 	≥1280px --- Larger desktop screens and some high-resolution laptops */
@media screen and (min-width: 80rem) {}

/* ≥1920px --- Larger desktop screens and high-resolution monitors */
@media screen and (min-width: 120rem) {}

/* ≥2560px --- Ultra-high-definition monitors and large displays */
@media screen and (min-width: 160rem) {}

/* ≥3840px --- Ultra-high-definition monitors and large displays */
@media screen and (min-width: 240rem) {}