body{
    background-color: #111111;
    color: white;
}

@media screen and (min-width: 0px) {


.wrapper-1{
    display:block;
    text-align: center;
}

.wrapper-1 img{
    order: 1;
    width: 200px;
}

.wrapper-1 h1{
    order: 2;
}

.wrapper-2{
    display: block;
    text-align: center;
}

}

@media screen and (min-width: 400px) {
    
    
    .wrapper-1{
        display:flex;
    }

    .wrapper-1 img{
        order: 33;
        width: 200px;
    }


    .wrapper-1 h1{
        order: 4;
    }

    p{
        text-align: left;
    }
}

@media screen and (min-width: 500px) {
    
    
    .wrapper-1{
        display:block;
        text-align: left;
    }

    
}

@media screen and (min-width: 600px) {
    .wrapper-1 {
        display: flex;
    }

    .wrapper-1 img {
        order: 1;
        width: 200px;
    }

    .wrapper-1 h1 {
        order: 2;
    }

    .wrapper-2 {
        order: 3; /* Ensure the second wrapper comes after the image and heading */
        text-align: left;
    }
}
